* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.name {
  margin-bottom: 2rem;
  font-weight: 900;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.container,
.main-header,
.main-footer {
  padding: 2rem .7rem;
  text-align: center;
}
.main-header,
.main-footer {
  background: #fafafa;
}
.main-footer {
  padding-bottom: 0;
}
li {
  margin-bottom: 7px;
  padding: 10px;
  background: white;
}
li:last-child {
    margin-top: 0;
}
li a {
  text-transform: uppercase;
  font-weight: bolder;
}
.profile-pic {
  width: 65%;
  margin: 1.2rem 0;
}
.intro {
  margin: 0;
}
.sub-heading {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
}
h3 {
    font-weight: 500;
}
h2 {
    margin: auto 0;
    padding: 1rem 0;
}
.images {
  width: 95%;
}
section {
  margin: 1.5rem 0;
}
.hoz-line {
  width: 95%;
  height: 1px;
  background: gray;
  margin: 0 auto;
}
p {
  color: #7f7f7f;
  font-weight: 300;
}
h1,
h2,
h3,
a,
.bot-bar p {
  color: #4a4a4a;
}
.contact-details {
    padding-top: .5rem;
}
.bot-bar {
    margin-top: 4rem;
}
#name, #back-to-top {
    font-size: .9rem;
    font-weight: 900;
}
#back-to-top {
    text-transform: uppercase;
}
.bot-flex {
    display: flex;
    justify-content: space-between;
}