/* --------------------------
  Base Styles
--------------------------- */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
}
h1 {
  padding-bottom: 1.5rem;
}
h2 {
  margin: auto 0;
  padding: 1rem 0;
}
h3 {
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  color: #7f7f7f;
  font-weight: 300;
}
/* --------------------------
  Class Styles
--------------------------- */
.main-header,
.main-footer {
  background: #fafafa;
}
.container,
.main-header,
.main-footer {
  padding: 1.5rem .8rem;
  text-align: center;
}
.small-bold-upper {
  font-size: .9rem;
  font-weight: 900;
  text-transform: uppercase;
}
/* --------------------------
  Header Styles
--------------------------- */
.name {
  font-weight: 900;
}
li {
  margin-bottom: 7px;
  padding: 10px;
  background: white;
}
li a {
  text-transform: uppercase;
  font-weight: bolder;
}
.intro {
  margin-top: 2rem;
}
.profile-pic {
  width: 70%;
  align-self: center;
}
/* --------------------------
  Main Styles
--------------------------- */
section {
  margin-top: 1.5rem;
}
.images {
  width: 95%;
}
/* --------------------------
  Footer Styles
--------------------------- */
.main-footer {
  padding-bottom: 0;
}
.bot-bar {
  width: 95%;
  margin: 4rem auto 0;
}
.hoz-line {
  height: 1px;
  background: gray;
}
.contact-details {
  padding-top: .1rem;
}
span {
  font-weight: 900;
  margin-left: 1rem;
}
.bot-links {
  display: none;
}
/* --------------------------
  Flex Styles
--------------------------- */
.nav-bar,
.main-nav,
.intro,
.main-flex {
  display: flex;
  flex-direction: column;
}
.bot-flex {
    display: flex;
    justify-content: space-between;
}
/* --------------------------
  Media Queries
--------------------------- */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  .main-header {
    padding: 3rem 0;
  }
  .main-nav,
  .intro {
    flex-direction: row;
    justify-content: center;
  }
  li {
    margin: 0 .5rem;
    background: transparent;
  }
  .intro {
    padding: 0 .8rem;
    align-items: stretch;
  }
  .profile-pic {
    order: 1;
    width: 300px;
  }
  .about-student {
    text-align: left;
    font-size: 1.25rem;
    margin-top: 0;
    padding-right: .7rem;
  }
  .main-flex {
    flex-flow: row wrap;
  }
  .main-flex section {
    width: 50%;
  }
  .contact-us p {
    font-size: 1.25rem;
    padding: 0 5rem;
  }
  .bot-bar {
    padding-bottom: 2rem;
  }
  #back-to-top {
    display: none;
  }
  .bot-links {
    display: block;
  }
  .bot-links ul {
    display: flex;
    flex-direction: row;
  }
}