/* --------------------------
  Base Styles
--------------------------- */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
}
h1 {
  padding-bottom: 1.5rem;
}
h2 {
  margin: auto 0;
  padding: 1rem 0;
}
h3 {
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  color: #7f7f7f;
  font-weight: 300;
}
/* --------------------------
  Class Styles
--------------------------- */
.main-header,
.main-footer {
  background: #fafafa;
}
.container,
.main-header,
.main-footer {
  padding: 1.5rem .8rem;
  text-align: center;
}
.small-bold-upper {
  font-size: .9rem;
  font-weight: 900;
  text-transform: uppercase;
}
/* --------------------------
  Header Styles
--------------------------- */
.name {
  font-weight: 900;
}
li {
  margin-bottom: 7px;
  padding: 10px;
  background: white;
}
li a {
  text-transform: uppercase;
  font-weight: bolder;
}
.intro {
  margin-top: 2rem;
}
.profile-pic {
  align-self: center;
  width: 70%;
}
/* --------------------------
  Main Styles
--------------------------- */
section {
  margin: 1.5rem 0;
}
.images {
  width: 95%;
}
/* --------------------------
  Footer Styles
--------------------------- */
.main-footer {
  padding-bottom: 0;
}
.hoz-line {
  width: 95%;
  height: 1px;
  background: gray;
  margin: 4rem auto 0;
}
.contact-details {
  padding-top: .5rem;
}
span {
  font-weight: 900;
  margin-left: 1rem;
}
/* --------------------------
  Flex Styles
--------------------------- */
.main-header,
.main-nav,
.intro {
  display: flex;
  flex-direction: column;
}
.bot-flex {
    display: flex;
    justify-content: space-between;
    padding: .5rem 2.5%;
}